@charset "utf-8";

body {
  background: black;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
}

#background {
  background: url(../images/background.png) repeat 5% 5%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 100;
}

#midground {
  background: url(../images/midground.png) repeat 20% 20%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 200;
}

#foreground {
  background: url(../images/foreground.png) repeat 900% 1100%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 300;
}

.title {
  border: solid red 5px;
}

.projects {

}

.project {

}
