hello
<div class="project one-edge-shadow">
  gdi
</div>
<% @projects.each do %>
<a style="display:block" href="https://github.com/ChetCorey/blackjack_game">
  <div class="project hvr-grow-shadow"></div>
</a>
<a style="display:block" href="https://github.com/ChetCorey/blackjack_game">
  <div class="project hvr-grow-shadow"></div>
</a>
