<div class="title">
  <h1>chet</h1>
</div>
<div class="projects">
  hello
  <div class="project one-edge-shadow">
    gdi
  </div>
  <div class="project one-edge-shadow">
    blackjack game
  </div>
  <div class="project one-edge-shadow hvr-grow-shadow">
    <a href="url">yearbook</a>
  </div>
</div>


<a href="#" class="hvr-grow">Add to Basket</a>
